
h1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10vw;
    margin-top: -2vw;
    color: rgb(148, 247, 0);
    text-align: center;
}
h2{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    line-height: 200%;
    font-size: 2vw;
}
a{
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}